<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.mangoblog.plugins.Statistics" name="Blog Statistics" version="1.1" provider-name="AsFusion" class="Statistics.Handler">
<description>Maintains general statistics</description>
<requiresVersion match="greaterOrEqual">1</requiresVersion>
  <listens>
  	<event name="dashboardPod" type="synch" priority="1" />
  </listens>
</plugin>