<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.mangoblog.plugins.AssetManager" name="AssetManager" version="1.1" provider-name="AsFusion" class="AssetManager.Handler">
<description>Adds utilities for assets such as auto-thumbnail creation</description>
<requiresVersion match="greaterOrEqual">1.5</requiresVersion>
  <listens>
  	<event name="assetManager-getThumb" type="synch" priority="1" />
  </listens>
</plugin>